body {
    margin: 40px;
    background: #666;
}
#canvas {
    background: #FFF;
    border: #000 1px solid;
}
#scoreBord{
    padding-bottom: 40px;
    margin-bottom: 0px;;
    width: 800px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(180deg, rgb(160, 160, 160) 30%, rgb(233, 230, 225) 70%);
}