body {
    margin: 0;
    background: #666;
}
#canvas {
    background: #FFF;
    border: #000 1px solid;
}
#scoreBord{
    width: 93.2%;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(180deg, rgb(160, 160, 160) 30%, rgb(233, 230, 225) 70%);
    font-size: 25px;
    padding: 0 40px;
    line-height: 80px;
}
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#reset {
    width: 80px;
    height: 40px;
    font-size: 25px;
    line-height: 25px;

}


#mouse {
    font-size: 30px;
}
.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}