body {
    margin: 40px;
    background: #666;
}
#canvas {
    background: #FFF;
    border: #000 1px solid;
}
#scoreBord{
    padding-bottom: 40px;
    margin-bottom: 0px;;
    width: 98.2%;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(180deg, rgb(160, 160, 160) 30%, rgb(233, 230, 225) 70%);
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
}
.div-wrapper {

}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}